.edit-midi {
    border: 1px solid darkslategray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    height: 100%;
    margin: 10%;
    padding-bottom: 7%;
    padding: 10%;
    background: rgb(134, 160, 169);
}

.title {
    color: darkslategray;
}

.info-container {
    margin-top: 25px;
    border-radius: 20px;
    border: 1px solid darkslategray;
    background-color: whitesmoke;
    padding: 10px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.file-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-row {
    margin: 3px;
    width: 150%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed darkslategray;
}

.edit-midi-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.edit-meta-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.edit-binary-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.edit-button {
    border: 1px solid darkslategray;
    border-radius: 5px;
    margin-top: 15%;
    background-color: whitesmoke;
    height: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
    width: 60%;
    align-self: center;
    color: darkslategray;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.edit-button:hover{
    background-color: darkgrey;
}

.edit-button:disabled{
    border: 1px solid darkgray;
    background-color: lightgray;
    color: darkgray;
}

.edit-button:hover:disabled{
    background-color: lightgray;
}

.checkbox-edit-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.input-edit-box {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-right: 10px;
}

.box-edit-label {
    height: 100%;
    margin-left: 15px;
    color: darkslategray;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input-edit {
    border-radius: 3px;
    background-color: whitesmoke;
    border: 1px solid darkslategray;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 8%;
    color: darkslategray;
}

.edit-file-input-label {
    border-radius: 3px;
    background-color: whitesmoke;
    border: 1px solid darkslategray;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 8%;
    font-size: 14px;
    text-align: center;
    color: darkslategrey;
    width: 90%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input-edit:hover {
    background-color: lightgray;
}

.edit-file-input-label:hover {
    background-color: lightgray;
}

#input-edit-file {
    display: none;
}

.show-file-edit-fields {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10px;
    width: 100%;
    background-color: green;
    padding: 10px 0px 10px 0px;
}