.login {
    border: 1px solid darkslategray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 40%;
    padding-right: 40%;
    background: rgb(134, 160, 169);
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20%;
}

.failed-login {
    display: flex;
    position: absolute;
    top: 188px;
    font-size: small;
    color: whitesmoke;
    background-color: red;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px darkslategray;
}

.submit-login-button {
    border: 1px solid darkslategray;
    border-radius: 5px;
    margin-top: 15%;
    background-color: whitesmoke;
    height: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
    width: 60%;
    align-self: center;
    color: darkslategray;
    text-transform: uppercase;
}

.submit-login-button:hover{
    background-color: darkgrey;
}

.submit-login-button:disabled{
    border: 1px solid darkgray;
    background-color: lightgray;
    color: darkgray;
}

.submit-login-button:hover:disabled{
    background-color: lightgray;
}

.input-login-text {
    border-radius: 3px;
    background-color: whitesmoke;
    border: 1px solid darkslategray;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 8%;
}

.input-login-text:hover {
    background-color: lightgray;
}
