.load-symbol {
  border-radius: 0px 5px 0px 0px;
  padding: 1px;
  margin-right: 10px;
  display: block;
  position: absolute;
  top: 0px;
  left: 4px;
  height: 27px;
  width: 27px;
}

.delete-symbol {
  border-radius: 0px 0px 5px 0px;
  padding: 1px;
  margin-right: 10px;
  display: block;
  position: absolute;
  top: 55px;
  left: 4px;
  height: 27px;
  width: 27px;
}

.edit-symbol {
  border-radius: 0px 0px 0px 0px;
  padding: 1px;
  margin-right: 10px;
  display: block;
  position: absolute;
  top: 27px;
  left: 5px;
  height: 26px;
  width: 26px;
}

.select-wing {
  border-radius: 0px 0px 5px 5px;
  padding: 1px;
  margin-right: 10px;
  background-color: whitesmoke;
  display: block;
  position: absolute;
  top: 85px;
  left: 30px;
  height: 30px;
  width: 150px;
  animation: ease-in;

}

.user-select-wing {
  border-radius: 0px 5px 5px 0px;
  padding: 1px;
  margin-right: 10px;
  background-color: whitesmoke;
  display: block;
  position: absolute;
  top: 85px;
  left: 30px;
  height: 30px;
  width: 150px;
}

.midi-list {
  border: 1px solid darkslategray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    height: 600px;
    margin: 10%;
    padding-bottom: 7%;
    padding: 10%;
    background: rgb(134, 160, 169);
  }

  .heading {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(250, 250, 250);
    text-transform: uppercase;
    font-weight: regular;
  }

  .list-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .ul-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    width: 200px;
    height: 100%;
  }
  
  .list-item {
    display: table;
    position: relative;
    right: 12%;
    align-items: center;
    justify-content: center;
    margin: 1% auto 1% auto;
    width: 100%;
    height: 100%;
  }
  
  .midis-wrapper {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height:75px;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: whitesmoke;
  }

  .user-midis-wrapper {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 75px;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: whitesmoke;
  }
  
  .midi {
    position: relative;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: darkslategrey;
    font-weight: regular;
  }

  .user-symbol {
    border-radius: 50%;
    padding: 1px;
    margin-right: 10px;
    background-color: burlywood;
    display: block;
    position: absolute;
    top: 7px;
    right: 165px;
    height: 20px;
    width: 20px;
    overflow: hidden;
  }

  .midi-text-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .midi:hover {
    color: dimgray;
    cursor: pointer;
  }