.overhang {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: rgb(161, 161, 161);
    opacity: 60%;
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
	height: 100%;
    width: 100%;
}