.overhang {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(161, 161, 161);
    opacity: 60%;
	padding-bottom: 10%;
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}